#gitHobo5841x2390Yellow{
	position:absolute;
	left:-8835px;
	top:-865px;
	width:5841px;
	height:2390px;
}

#gitHobo1663x680Yellow{
	position:absolute;
	left:-4657px;
	top:4398px;
	width:1663px;
	height:680px;
}

#gitHobo766x942{
	position:absolute;
	left:-1792px;
	top:16px;
	width:767px;
	height:894px;
}

#gitHobo766x942Yellow{
	position:absolute;
	left:0px;
	top:0px;
	width:767px;
	height:943px;
}

#gitHobo1663x680{
	position:absolute;
	left:-4657px;
	top:5343px;
	width:1663px;
	height:680px;
}

#gitHobo5841x2390{
	position:absolute;
	left:-8835px;
	top:1743px;
	width:5841px;
	height:2390px;
}

#gitHoboLogo-3{
	position:absolute;
	left:-8789px;
	top:4527px;
	width:2757px;
	height:2453px;
}

