#gitHobo5841x2390Yellow{
	position:absolute;
	left:-6262px;
	top:-5264px;
	width:5841px;
	height:2390px;
}

#gitHobo1663x680Yellow{
	position:absolute;
	left:-2084px;
	top:-1px;
	width:1663px;
	height:680px;
}

#gitHobo1663x755Yellow-mirr{
	position:absolute;
	left:-1px;
	top:-1px;
	width:1663px;
	height:757px;
}

#gitHobo766x942{
	position:absolute;
	left:782px;
	top:-4382px;
	width:767px;
	height:894px;
}

#gitHobo766x942Yellow{
	position:absolute;
	left:2573px;
	top:-4399px;
	width:767px;
	height:943px;
}

#gitHobo1663x680{
	position:absolute;
	left:-2084px;
	top:944px;
	width:1663px;
	height:680px;
}

#gitHobo1663x755-mirr{
	position:absolute;
	left:-50px;
	top:944px;
	width:1663px;
	height:757px;
}

#gitHobo5841x2390{
	position:absolute;
	left:-6262px;
	top:-2656px;
	width:5841px;
	height:2390px;
}

#gitHoboLogo-3{
	position:absolute;
	left:-6215px;
	top:129px;
	width:2757px;
	height:2453px;
}

