#gitHobo5841x2390Yellow{
	position:absolute;
	left:0px;
	top:-2608px;
	width:5841px;
	height:2390px;
}

#gitHobo1663x680Yellow{
	position:absolute;
	left:4178px;
	top:2655px;
	width:1663px;
	height:680px;
}

#gitHobo871x1071{
	position:absolute;
	left:6902px;
	top:-1726px;
	width:964px;
	height:927px;
}

#gitHobo871x1071Yellow{
	position:absolute;
	left:8693px;
	top:-1867px;
	width:966px;
	height:1072px;
}

#gitHobo1663x680{
	position:absolute;
	left:4178px;
	top:3600px;
	width:1663px;
	height:680px;
}

#gitHobo5841x2390{
	position:absolute;
	left:0px;
	top:0px;
	width:5841px;
	height:2390px;
}

#gitHoboLogo-3{
	position:absolute;
	left:46px;
	top:2785px;
	width:2757px;
	height:2453px;
}

